<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Журнал местных командировок</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--datepicker-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <!--timepicker-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.css">
</head>

<body>

<div class="container">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <button class="btn btn-outline-primary" onclick="showSaveModal()">Добавить запись</button>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
    </ul>
    <table id="entryTable" class="table table-hover">
        <tr>
            <thead class="thead-dark">
            <th scope="col">№</th>
            <th scope="col">ФИО работника</th>
            <th scope="col">Дата</th>
            <th scope="col">Время выезда</th>
            <th scope="col">Время возвращения</th>
            <th scope="col">Место командирования</th>
        </tr>
        </thead>
        <tbody >
            <tr th:each="entry : ${entries}" ondblclick="editEntry()">
                <td><span th:text="${entry.idEntry}"></span></td>
                <td><span th:text="${entry.fio}"></span></td>
                <td><span th:text="${entry.dateOfAbsence}"></span></td>
                <td><span th:text="${entry.startTime}"></span></td>
                <td><span th:text="${entry.endTime}"></span></td>
                <td><span th:text="${entry.placeOrCause}"></span></td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>

<div class="modal fade" id="modalSave" tabindex="-1" role="dialog" aria-labelledby="modalSaveTitle" aria-hidden="true" >
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title">Добавление записи в журнал</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="add">
                <div class="modal-body">
                    <input style="width: 30%" type="text" id=fio placeholder="ФИО">
                    <input style="width: 10%" type="text" id="dateOfAbsence" placeholder="дата" readonly>
                    <input style="width: 8%" type="text" id="startTime" value="" placeholder="с" readonly>
                    <input style="width: 8%" type="text" id="endTime" value="" placeholder="до" readonly>
                    <input style="width: 42%" type="text" id=placeOrCause placeholder="Место/Причина">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" >Удалить</button>
                    <button type="button" class="btn btn-primary" id="saveBtn" name="saveBtn" onclick="saveEntry()">Сохранить</button>
                    <button type="button" class="btn btn-secondary" onclick="closeSaveModal()">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function showSaveModal() {
        $('#modalSave').modal('show');
    }
    function closeSaveModal() {
        $('#modalSave').modal('hide');
    }
    function saveEntry() {

        $.post(
            "/saveEntry",
            {
                fio: $('#fio').val(),
                dateOfAbsence: $('#dateOfAbsence').val(),
                startTime: $('#startTime').val(),
                endTime: $('#endTime').val(),
                placeOrCause: $('#placeOrCause').val()
            },
            function (data) {
                $('#modalSave').modal('hide');
            }
        );
    }
    function editEntry() {
        $('#modalSave').modal('show');

    }

    $('#startTime').clockpicker({
        placement: 'bottom',
        align: 'right',
        autoclose: true,
        'default': '09:00'
    });
    $('#endTime').clockpicker({
        placement: 'bottom',
        align: 'right',
        autoclose: true,
        'default': '09:00'
    });
    $('#dateOfAbsence').datetimepicker({
        timepicker:false,
        format:'Y-m-d'
    });
    $.datetimepicker.setLocale('ru');

</script>
</html>