<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Журнал местных командировок</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"  >
    <script  src="/js/jquery.min.js" type="text/javascript"></script>
    <script  src="/js/popper.min.js" type="text/javascript" ></script>
    <script  src="/js/bootstrap.min.js" type="text/javascript" ></script>
    <!--datepicker-->
    <link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css">
    <script  src="/js/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
    <!--timepicker-->
    <script  src="/js/bootstrap-clockpicker.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-clockpicker.min.css">

    <style>
        .page-item{

            border-color:#960430;
            outline-color:#960430;
        }
        .page-item.active .page-link{
            background-color:#960430;
            border-color:#960430;
            outline-color:#960430;
        }
        .page-link{
            color: #960430;
            outline-color:#960430;
        }

        .page-link:hover{
            color: #960430;
        }
        input{
            outline-color:#960430;
        }
        .page-item:active{
            border-color:#960430;
        }
        .form-control{
            color: #960430;
            outline-color:#960430;
        }
    </style>
</head>

<body>
<div style="width: 100%; background: #960430">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button class="btn btn-outline-light" onclick="showSaveModal(true)">Добавить запись</button>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            задать интервал
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a>
                                <div class="container">
                                    c:
                                </div>
                                <div class="container">
                                    <input  type="text" id="startDate"  readonly class="dateTimePicker">
                                </div>
                            </a>
                            <a>
                                <div class="container">
                                    по:
                                </div>
                                <div class="container">
                                    <input  type="text" id="endDate" readonly class="dateTimePicker">
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
                <div  class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" style="outline: none; " type="search" id="search" placeholder="Поиск" aria-label="Search">
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <br>
    <div class="container">
       <div style="display: inline-block;width: 10%;">
           <img src="img/header.png">
       </div>
       <div style="display: inline-block; width: 80%; text-align: center">
           <h2 style="color: #960430;text-align: center">Журнал местных командировок</h2>
       </div>
    </div>
    <br>
    <table id="entryTable" class="table table-hover">
        <thead >
            <tr>
                <th scope="col">№</th>
                <th scope="col">ФИО работника</th>
                <th scope="col">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspДата&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <th scope="col">Время выезда</th>
                <th scope="col">Время возвращения</th>
                <th scope="col">Место командирования</th>
            </tr>
        </thead>
        <tbody id="tBodyData">
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination" id="navPages">

        </ul>
    </nav>
</div>
</body>

<div class="modal fade" id="modalSave" tabindex="-1" role="dialog" aria-labelledby="modalSaveTitle" aria-hidden="true" >
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title">Добавление записи в журнал</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <input style="width: 30%" type="text" id=fio placeholder="ФИО" maxlength="100">
                    <input style="width: 10%" type="text" id="dateOfAbsence" placeholder="дата" readonly class="dateTimePicker">
                    <input style="width: 8%" type="text" id="startTime" value="" placeholder="с" onchange="changeTime();" readonly>
                    <input style="width: 8%" type="text" id="endTime" value="" placeholder="до" onchange="changeTime()" readonly>
                    <input style="width: 42%" type="text" id=placeCause placeholder="Место/Причина" maxlength="100">
                    <input hidden id=idEntry>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" onclick="deleteEntry()" id="deleteBtn">Удалить</button>
                    <button type="button" class="btn btn-primary" style="background-color: #960430; border-color: #960430" id="saveBtn" name="saveBtn" onclick="saveEntry()">Сохранить</button>
                    <button type="button" class="btn btn-secondary" onclick="closeSaveModal()">Отменить</button>
                </div>
        </div>
    </div>
</div>
<script>
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    firstDayOfMonth = yyyy+'-'+mm+'-01';
    currentDayOfMonth = yyyy+'-'+mm+'-'+dd;
    $('#startDate').val(firstDayOfMonth);
    $('#endDate').val(currentDayOfMonth);



     function showSaveModal(isNew) {
         if (isNew){
             clearEntryModal();
             $('#deleteBtn').hide();
         } else {
             $('#deleteBtn').show();
         }
        $('#modalSave').modal('show');
    }
    function closeSaveModal() {
        $('#modalSave').modal('hide');
    }
    function saveEntry() {
         if (validate()) {
             $.post(
                 "/saveEntry",
                 {
                     idEntry: $('#idEntry').val(),
                     fio: $('#fio').val(),
                     dateOfAbsence: $('#dateOfAbsence').val(),
                     startTime: $('#startTime').val(),
                     endTime: $('#endTime').val(),
                     placeCause: $('#placeCause').val()
                 },
                 function () {
                     loadTableData(0);
                     closeSaveModal();
                 }
             );
         }
    }
    function editEntry(idEntry, fio, dateOfAbsence, startTime, endTime, placeCause) {
            $('#idEntry').val(idEntry);
            $('#fio').val(fio);
            $('#dateOfAbsence').val(dateOfAbsence);
            $('#startTime').val(startTime);
            $('#endTime').val(endTime);
            $('#placeCause').val(placeCause);
            showSaveModal(false);
    }
     function deleteEntry() {

         $.post(
             "/deleteEntry",
             {
                 idEntry: $('#idEntry').val()
             },
             function () {
                 loadTableData(0);
                 closeSaveModal();
             }
         );
     }

    $('#startTime').clockpicker({
        placement: 'bottom',
        align: 'right',
        autoclose: true,
        'default': '09:00'
    });
    $('#endTime').clockpicker({
        placement: 'bottom',
        align: 'right',
        autoclose: true,
        'default': '09:00'
    });
    $('.dateTimePicker').datetimepicker({
        timepicker:false,
        format:'Y-m-d'
    });
    $.datetimepicker.setLocale('ru');

    function loadTableData(page) {
        if ($('#endDate').val()<$('#startDate').val()){
            $('#endDate').val($('#startDate').val())
        }


        $.post(
            "/loadEntry",
            {
                searchText: $('#search').val(),
                startDate: $('#startDate').val(),
                endDate: $('#endDate').val(),
                page: page
            },
            function (jsonData) {
                var entryList= JSON.parse(jsonData);
                var entryHtml="";
                var navPagesHtml="";
                var num=1+(entryList.number*10);
                entryList.content.forEach(function (entry) {
                    entryHtml+=
                        '<tr ondblclick="editEntry(\''+entry.idEntry+'\',\''+entry.fio+'\',\''+entry.dateOfAbsence+'\',\''+entry.startTime+'\',\''+entry.endTime+'\',\''+entry.placeCause+'\')">'+
                            '<td>'+num+'</td>'+
                            '<td>'+entry.fio+'</td>'+
                            '<td>'+entry.dateOfAbsence+'</td>'+
                            '<td>'+entry.startTime+'</td>'+
                            '<td>'+entry.endTime+'</td>'+
                            '<td>'+entry.placeCause+'</td>'+
                        '</tr>';
                    num++;
                });
                $('#entryTable tbody').html(entryHtml);
                var hideNav = entryList.totalPages==0?'hidden':'';
                navPagesHtml+=
                '<li class="page-item" '+hideNav+'>\n' +
                '    <a class="page-link" href="#" onclick="loadTableData('+((entryList.number-1)>=0?(entryList.number-1):0)+')" aria-label="Previous">\n' +
                '        <span aria-hidden="true">&laquo;</span>\n' +
                '        <span class="sr-only">Previous</span>\n' +
                '    </a>\n' +
                '</li>\n';
                for (var i=0;i<entryList.totalPages;i++){
                    var active = entryList.number==i?'active':'';
                    var hidden =((entryList.number-3>i&&i!=0)||(entryList.number+3<i)&&i!=entryList.totalPages-1)?'hidden':'';
                    navPagesHtml+= '<li class="page-item '+active+'" '+hidden+'><a class="page-link"    href="#" onclick="loadTableData('+i+')">'+(i+1)+'</a></li>\n';
                }
                navPagesHtml+=
                '<li class="page-item" '+hideNav+'>\n' +
                '    <a class="page-link" href="#" onclick="loadTableData('+((entryList.number+1)>=entryList.totalPages-1?(entryList.totalPages-1):(entryList.number+1))+')" aria-label="Next">\n' +
                '        <span aria-hidden="true">&raquo;</span>\n' +
                '        <span class="sr-only">Next</span>\n' +
                '    </a>\n' +
                '</li>';
                $('#navPages').html(navPagesHtml);
            }
        );
    }
    function clearEntryModal() {
        $('#idEntry').val('');
        $('#fio').val('');
        $('#dateOfAbsence').val(currentDayOfMonth);
        $('#startTime').val('');
        $('#endTime').val('');
        $('#placeCause').val('');

    }
    function validate(){
        var valid=true;
        if ($('#fio').val()==''){
            $('#fio').css("border-color", "red");
            valid=false;
        }
        if ($('#dateOfAbsence').val()==''){
            $('#dateOfAbsence').css("border-color", "red");
            valid=false;
        }
        if ($('#startTime').val()==''){
            $('#startTime').css("border-color", "red");
            valid=false;
        }
        if ($('#endTime').val()==''){
            $('#endTime').css("border-color", "red");
            valid=false;
        }
        if ( $('#placeCause').val()==''){
            $('#placeCause').css("border-color", "red");
            valid=false;
        }
        setTimeout(setDefaultColorInputs,1000)
        return valid;
    }
    function setDefaultColorInputs(){
        $('#fio').css("border-color", "");
        $('#dateOfAbsence').css("border-color", "");
        $('#startTime').css("border-color", "");
        $('#endTime').css("border-color", "");
        $('#placeCause').css("border-color", "");
    }
    function changeTime(){
        if ($('#endTime').val()!=''&&$('#endTime').val()<$('#startTime').val()){
            $('#endTime').val($('#startTime').val())
        }
    }

    $("#search").keyup(function(){
        loadTableData(0);
    });
    $('#startDate').change(function() {
        loadTableData(0);
    });
    $('#endDate').change(function() {
        loadTableData(0);
    });
    loadTableData(0);
</script>
</html>